table {
    width: 100%;
  }
  
.rowTable {
    margin-top: 20px;
  }

.rowTable span {
    margin-left: 10px;
  }

.radioBtns {
    display: inline-flex;
    margin: 10px 20px;
  }

.radioLabel {
  margin-right: 10px;
} 